<div class="pwd-field">
  <input
    [type]="visible ? 'text' : 'password'"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="isDisabled"
    [attr.autocomplete]="autocomplete"
    class="pwd-input"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />
  <button type="button" class="pwd-toggle" (click)="toggle()" tabindex="-1"
          [attr.aria-label]="visible ? 'Ocultar senha' : 'Mostrar senha'">
    <mat-icon>{{ visible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</div>
