<nav class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-header">
    <span class="sidebar-title" *ngIf="!collapsed">Menu</span>
    <button class="collapse-btn" (click)="toggle()" [matTooltip]="collapsed ? 'Expandir' : 'Recolher'" matTooltipPosition="right">
      <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <ul class="nav-list">
    <li *ngFor="let item of items"
        class="nav-item"
        [class.active]="activeItem === item.id"
        (click)="select(item.id)"
        [matTooltip]="collapsed ? item.label : ''"
        matTooltipPosition="right">
      <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
      <span class="nav-label" *ngIf="!collapsed">{{ item.label }}</span>
    </li>
  </ul>

</nav>
